import { Injectable } from '@angular/core';

@Injectable()
export class AuthSecretService {

    constructor() { }

    static getConfig() {
        return {
            tenantId: '[ tenant id ]',
            clientId: '[ client id ]'
        };
    }

}
